.flex {
    display: flex;
}

.buttonColor {
    color: var(--bg-button-color);
}

.forest {
    background: url(./images/forest.jpg) no-repeat center / cover;
}
  
.rain {
    background: url(./images/rain.jpg) no-repeat center / cover;
}
  
.cafeteria {
    background: url(./images/cafeteria.jpg) no-repeat center / cover;
}

.fireplace {
    background: url(./images/fireplace.webp) no-repeat center / cover;
}
  

/* auxiliares */

button {
    background-color: transparent;
    border: 0;

    cursor: pointer;
    font-size: 5.4rem;
    align-items: center;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-button-color: #02799D;
}

body {
    font-size: 1.6rem;

    display: grid;
    height: 100vh;
    place-content: center;
    font-family: 'roboto', sans-serif;
}

.app {
    gap: 19.2rem;
    align-items: center;
}

.timerButton {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 1rem;

    padding: 2rem;
    color: #fff;
}

.timer {
    font-size: 12.6rem;
    font-weight: 500;
}

.controls {
    margin-top: 3rem;
    gap: 3.7rem;
}

.controls button {
    color: #fff;
}

.controls button:hover {
    color: var(--bg-button-color);
}

.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
    display: none;
}

.themes {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
}

.themes button {
    opacity: 0.5;

    transition: opacity 0.5s ease;
}

.themes button:hover {
    opacity: 1;
}
